<!doctype html>
<html lang="en">

<head>
  <title>Sola</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://kit.fontawesome.com/077191d827.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

  <div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar" class="order-last" class="img" style="background-image: url(/images/bg_1.jpg);">
      <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
        </button>
      </div>
      <div class="">
        <h1><a href="index.html" class="logo"><i class="far fa-bell"></i> Sola</a></h1>
        <ul class="list-unstyled components mb-5">
          <li class="active">
            <a href="/newatt"><span class="fa fa-eye mr-3"></span> Attendance</a>
          </li>
          <li>
            <a href="/homework"><span class="fa fa-list mr-3"></span> Homework</a>
          </li>
          <li>
            <a href="/progress"><span class="fa fa-chart-bar mr-3"></span> Progress</a>
          </li>
          <li>
            <a href="/profile"><span class="far fa-address-card mr-3"></span> Profile</a>
          </li>
          <li>
            <a href="/logout"><span class="fa fa-sign-out-alt mr-3"></span> Sign Out</a>
          </li>
        </ul>


      </div>

    </nav>

    <!-- Page Content  -->

    <div id="content" class="p-4 p-md-5 pt-5">
      <div class="mainpage">
        <h3>Messages</h3>
        <div class="chatroom">
          <ul class="messagesParent">

            <% for(var i=0; i < chatroom.length; i++) {%>
              <% if (chatroom[i].to == parentInfo.local.email) { %>
            <li class="message">
              <span><%= chatroom[i].name%> </span>
              <span><%= chatroom[i].msg %></span>
            </li>
            <% } else if (chatroom[i].from == parentInfo.local.email) { %>
          <li class="message">
            <span><%= chatroom[i].name%> </span>
            <span><%= chatroom[i].msg %></span>
          </li>
              <% } %>
            <% } %>
          </ul>

        </div>
         <div class="messageBox">
           <h2>Send a message</h2>
           <% if (user.local.email) { %>
           <form action="/chat" method="POST">
             <select class="parents" name="to">
                 <option value="<%= parentInfo.local.email %>"><%= parentInfo.local.email %></option>
             </select>
             <input type="text" name="id" value="<%= parentInfo._id %>">
             <input type="text" value="<%= user.local.email %>" name="from">
             <input type="text" placeholder="message" name="msg">
             <button type="submit"><i class="fas fa-paper-plane"></i></button>
           </form>
           <% } %>
         </div>

      </div>

      </div>

  </div>

  <script src="js/jquery.copy.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.copy.js"></script>
  <script src="messages.js"></script>
</body>

</html>
